button:hover{
  text-decoration: underline;
}

button{

  left: 1200px;
  position: absolute;
  background-color: gray;
  top: 20px;
}


.caixa1 {
  position: relative;
  height: 60px;
  width: 1332px;
  background-color: #F8B195;
  
}

.Logo {
  position: absolute;
  left: 5%;
  Top:10px;
  font-family: "Arial";
  font-size: 40px;
  
}

.caixa2 {
  position: absolute;
  top: 580px;
  height: 120px;
  width: 400px;
  left: 943px;
  margin: 3px auto;
  background-color: blue;
  
  
}

.caixa3 {
  position: absolute;
  height: 120px;
  width: 260px;
  top: 200px;
  left: 7px;
  background-color: #6C5B7B;
  margin: 3px auto;
  
}

.body{
  position: absolute;
  left: 40%;
  Top:50px;
  font-family: "Arial";
  font-size: 40px;
  
}

.caixa4 {
  posicion: absolute;
  margin: 10px 0px;
  height: 120px;
  width: 260px;
  left: 7px;
  background-color: #6C5B7B;
  
}


.navigation{
  position: absolute;
  left: 40%;
  Top:125px;
  font-family: "Arial";
  font-size: 40px;
  
}

.caixa5 {
  position: absolute;
  top: 710px;
  height: 50px;
  width: 1335px;
  background-color: #355C70;
  clear: both;
  
}

.footer{
  position: absolute;
  left: 50%;
  Top:15px;
  font-family: "Arial";
  font-size: 30px;
  
}

.caixa6 {
  position: absolute;
  top: 580px;
  height: 120px;
  width: 450px;
  left: 7px;
  margin: 3px auto;
  background-color: blue;
  
  
}

.header{
  position: absolute;
  left: 40%;
  Top:20px;
  font-family: "Arial";
  font-size: 40px;
  
}

.caixa7 {
  position: absolute;
  top: 580px;
  height: 120px;
  width: 450px;
  left: 478px;
  margin: 3px auto;
  background-color: blue;
}
  
.box1 {
  position: absolute;
  left: 40%;
  Top:50px;
  font-family: "Arial";
  font-size: 40px; 
  }

.box2 {
  position: absolute;
  left: 40%;
  Top:50px;
  font-family: "Arial";
  font-size: 40px; 
  }

.caixa8 {
  position: absolute;
  height: 120px;
  width: 260px;
  top: 75px;
  left: 370px;
  background-color: #6C5B7B;
  margin: 3px auto;
  
}

.caixa9 {
  position: absolute;
  height: 120px;
  width: 260px;
  top: 75px;
  left: 730px;
  background-color: #6C5B7B;
  margin: 3px auto;
  
}

.caixa10 {
  position: absolute;
  height: 120px;
  width: 260px;
  top: 75px;
  left: 1080px;
  background-color: #6C5B7B;
  margin: 3px auto;
  
}

.caixa11 {
  position: absolute;
  height: 120px;
  width: 260px;
  top: 200px;
  left: 370px;
  background-color: #6C5B7B;
  margin: 3px auto;
  
}

.caixa12 {
  position: absolute;
  height: 120px;
  width: 260px;
  top: 200px;
  left: 730px;
  background-color: #6C5B7B;
  margin: 3px auto;
  
}

.caixa13 {
  position: absolute;
  height: 120px;
  width: 260px;
  top: 200px;
  left: 1080px;
  background-color: #6C5B7B;
  margin: 3px auto;
  
}

.caixa14 {
  position: absolute;
  height: 120px;
  width: 160px;
  top: 200px;
  left: 7px;
  background-color: #6C5B7B;
  margin: 3px auto;
  
}

.caixa15 {
  position: absolute;
  height: 120px;
  width: 260px;
  top: 328px;
  left: 7px;
  background-color: #6C5B7B;
  margin: 3px auto;
  
  
}

.caixa16 {
  position: absolute;
  height: 120px;
  width: 260px;
  top: 455px;
  left: 7px;
  background-color: #6C5B7B;
  margin: 3px auto;
  
}

.caixa17 {
  position: absolute;
  height: 120px;
  width: 260px;
  top: 455px;
  left: 1080px;
  background-color: #6C5B7B;
  margin: 3px auto;
  
}

.caixa18 {
  position: absolute;
  height: 120px;
  width: 260px;
  top: 328px;
  left: 1080px;
  background-color: #6C5B7B;
  margin: 3px auto;
  
}

.caixa19 {
  position: absolute;
  height: 120px;
  width: 260px;
  top: 328px;
  left: 370px;
  background-color: #6C5B7B;
  margin: 3px auto;
  
}

.caixa20 {
  position: absolute;
  height: 120px;
  width: 260px;
  top: 328px;
  left: 730px;
  background-color: #6C5B7B;
  margin: 3px auto;
  
}

.caixa21 {
  position: absolute;
  height: 120px;
  width: 260px;
  top: 455px;
  left: 730px;
  background-color: #6C5B7B;
  margin: 3px auto;
  
}

.caixa22{
  position: absolute;
  height: 120px;
  width: 260px;
  top: 455px;
  left: 370px;
  background-color: #6C5B7B;
  margin: 3px auto;
}













